.divPruebas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: palevioletred;
    height: 200px;
    width: 100%;
}

h2{
    color: brown;
}

.card{
    width: 18rem;
}